@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    align-content: end;
    box-sizing: border-box;
}

body {
    margin: 1em auto;
    padding: .5em 24px;
    font-family: 'Spectral', serif;
    color: var(--foreground-color);
    max-width: 800px;
    font-size: 16px;
}

footer {
    color: var(--footer-text-color);
    font-size: x-small;
    font-style: italic;
    border-top: 1px dashed var(--border-color);
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    border-bottom: 1px solid var(--border-color);
}

h4 {
    font-style: italic;
}

a {
    color: var(--hyperlink-color);
}

a:hover {
    color: var(--hyperlink-hover-color);
}

header {
    text-align: center;
}

main {
    margin-bottom: 2em;
}

main>section {
    margin-top: 1em;
}