* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em auto;
    padding: .5em 24px;
    color: var(--foreground-color);
    max-width: 800px;
}

footer {
    color: var(--footer-text-color);
    font-size: x-small;
    font-style: italic;
    border-top: 1px dashed var(--border-color);
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1;
}

h2 {
    border-bottom: 1px solid var(--border-color);
}

h4 {
    font-style: italic;
}

a {
    color: var(--hyperlink-color);
}

a:hover {
    color: var(--hyperlink-hover-color);
}

header {
    text-align: center;
}

main {
    margin-bottom: 2em;
}

main>section {
    margin: 1em 0;
}

main>section>section {
    margin: 2px 0;
}
