ul.contacts {
    overflow-wrap: normal;
    margin-inline-start: 0;
    padding-inline-start: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0;
    font-size: small;
    justify-content: center;
    
    li {
        list-style-type: none;
        display: inline-block;
    }

    li:not(:last-child):after {
        content: var(--separator-contacts);
        padding: 0 4px;
    }
}
