ul.contacts {
    overflow-wrap: normal;
    margin-inline-start: 0;
    padding-inline-start: 0;
    
    li {
        list-style-type: none;
        display: inline-block;
    }

    li:not(:last-child):after {
        content: " | ";
    }
}
