@media print {

    body {
        margin: 0;
        padding: 0;
        line-height: 1.1;
        font-size: 8pt;
    }

    footer {
        margin-bottom: 1mm;
        align-content: end;
    }

    h2 {
        line-height: 1;
        margin-top: 2mm;
    }

    h3 {
        margin-top: 2mm;
    }

    a,
    a:visited {
        color: var(--hyperlink-color);
    }

    main>section {
        margin-top: 1mm;
    }

    ul.contacts {
        font-size: 7pt;
    }
}
