ul.tags {
    overflow-wrap: normal;
    margin-inline-start: 0;
    padding-inline-start: 0;
    
    li {
        font-style: italic;
        list-style-type: none;
        display: inline-block;
    }

    li:not(:last-child):after {
        content: ",";
        padding-right: .4em;
    }
}
