:root {
    --foreground-color: rgb(56, 56, 56);
    --secondary-text-color: rgb(86, 86, 86);
    --footer-text-color: gray;
    --border-color: gray;
    --hyperlink-color: rgb(85, 85, 85);
    --hyperlink-hover-color: olive;
    --tags-hover-bg: olive;
    --tags-hover-fg: white;
    --tags-background-color: rgb(238, 238, 238);
}