<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>

<body>
    {{ $data := index .Site.Data .Site.Params.Kevin.CvSource }}

    <header>
        <h1>{{ $data.CvHolder }}</h1>
        {{ with $data.Contacts }}
        {{ partial "contacts" . }}
        {{ end }}
    </header>

    <main>
        {{ with $data.Experience }}
        {{ partial "experience" . }}
        {{ end }}

        {{ with $data.Education }}
        {{ partial "education" . }}
        {{ end }}

        {{ with $data.Certificate }}
        {{ partial "certificate" . }}
        {{ end }}

        {{ with $data.Project }}
        {{ partial "project" . }}
        {{ end }}

        {{ with $data.SkillTags }}
        {{ partial "skills" . }}
        {{ end }}
    </main>
    
    <footer>
        <p>{{ .Site.Params.Kevin.Footer | markdownify }}</p>
    </footer>
</body>

</html>